# Direct dependencies
qiskit
mthree
pennylane
numpy
sympy
flaky

# Not direct dependencies
appdirs
autograd
autoray
cachetools
certifi
cffi
charset-normalizer
cryptography
Cython
dill
future
idna
mpmath
networkx
ninja
ntlm-auth
orjson
pbr
PennyLane-Lightning
ply
psutil
pycparser
python-constraint
python-dateutil
qiskit-aer
qiskit-ibmq-provider
qiskit-ignis
qiskit-terra
requests
requests-ntlm
retworkx
scipy
semantic-version
six
stevedore
symengine
toml
tweedledum
urllib3
websocket-client