docutils==0.16
mthree
sphinxcontrib-bibtex
ipykernel
nbsphinx
pygments-github-lexers
pybind11
qiskit
pygments==2.7.4
git+https://github.com/XanaduAI/pennylane.git#egg=pennylane
dc-qiskit-algorithms
sphinx-automodapi
jinja2==3.0.3
