name: Manually Triggered Version Bumps

on:
  workflow_dispatch:

jobs:
  pre_release_version_bump:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Run pre-release version bump
        uses: PennyLaneAI/automation/version_bump_action@main
        with:
          version_path: "./pennylane_qiskit/_version.py"
          changelog_path: "./CHANGELOG.md"
          release_status: "pre_release"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: pre release version bump
          title: Version Bump
          body: updated changelog and _version.py
          branch: pre-release-version-bump
          reviewers: astralcai
          base: master
