name: Upload
on:
  release:
    types: [published]

jobs:
  upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'

      - name: Build and install Plugin
        run: |
          python -m pip install --upgrade pip wheel
          pip install qiskit
          python setup.py bdist_wheel
          pip install dist/PennyLane*.whl

      - name: Install test dependencies
        run: |
          pip install wheel pytest pytest-cov pytest-mock flaky --upgrade

      - name: Run tests
        run: |
          python -m pytest tests --tb=native

      - name: Publish
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI }}
